<h1>Edit Gage</h1>

<form method="post" action="/gages">
  <p>Name: <input type="text" id="name" name="name"></p>
  <p>Date_Created: <input type="date" id="text" name="date_created"></p>
  <p>Due Date: <input type="date" id="text" name="due_date"></p>
  <p>Previous Due Date: <input type="date" id="text" name="previous_due_date"></p>
  <input type="submit" id="submit" value="Create">
</form>
